body {
    background-color: rgba(36, 51, 66, 1);
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

#load {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    background: url("../pics/loading.gif") no-repeat center center rgba(36, 51, 66, 1);
}

#customer_form, #member_form {
    display: none;
}

.pages {
    text-align: center;
    color: white;
}