<h3 style="font-weight: bold;">Add a Student</h3>
<form name="form" action='../php/add_student.php' ng-submit="php/add_student.php">
	<div class="alert alert-success" ng-show="msg">
		<strong>Success!</strong> User Added!.
	</div>
	<div class="form-group">
		<label for="student_name">Name</label>
		<input class="form-control" type="text" name="name" ng-model="name" required/>
	</div>
	<div class="form-group">
		<label for="student_name">Email</label>
		<input class="form-control" type="text" name="submenu" ng-model="submenu" required/>
	</div>
	</div>
	<br/>
	<button type="submit" class="btn btn-primary">Submit</button>
	<a href="#" class="btn btn-warning">Go Back</button>
</form>